
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: rgb(3, 218, 164);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
ol{
  list-style-type: none;
}
ul{
  float:right;
  list-style-type: none;
  margin-top: 25px;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding:5px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;

}
ul li a:hover{
  border-radius: 50px;
  background-color: #fff;
  color:black;
}
ul li.active a {
  background-color: #fff;
  color:black;
}
.main{
  max-width: 1200px;
  margin: top;
}
